# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.db

./src/test/groovy/pl/futurecollars/invoicing/db/file/testingId.txt
./src/test/groovy/pl/futurecollars/invoicing/db/file/testingInvoices.json